doctype html
html(lang=en)
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title 05. Operators
  body
    script(src="./05-operators.js")
    script.
      prompt("Enter a:", 2)
      prompt("Enter b:", 3)
      alert(`Sum of ${a} and ${b}: ${+a+b}`)
